<div class="search-container">
  <mat-card class="search-card">
    <mat-card-header>
      <mat-card-title>Search for products</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill" style="width: 40%; margin-right: 2%;">
        <mat-label>Search by</mat-label>
        <mat-select [(value)]="selectedCriteria" (selectionChange)="criteriaChange()">
          <mat-option [value]="criteria.value" *ngFor="let criteria of criterion">
            {{ criteria.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <form [formGroup]="searchFormCode" id="searchFormCode" (ngSubmit)="search()">
        <div *ngIf="this.isBarcode; else searchTerm">
          <mat-form-field style="width: 100%;">
            <mat-label>Enter barcode number</mat-label>
            <input matInput formControlName="search" type="number">
          </mat-form-field>

          <button mat-raised-button color="primary" form="searchFormCode" [disabled]="!searchFormCode.valid"
            type="submit" style="display: block;">
            Search
          </button>
        </div>
      </form>

      <form [formGroup]="searchForm" id="searchForm" (ngSubmit)="search()">
        <ng-template #searchTerm>
          <mat-form-field style="width: 100%;">
            <mat-label>Enter search term</mat-label>
            <input matInput formControlName="search">
          </mat-form-field>

          <button mat-raised-button color="primary" form="searchForm" [disabled]="!searchForm.valid" type="submit"
            style="display: block;">
            Search
          </button>
        </ng-template>
      </form>
    </mat-card-content>
  </mat-card>
</div>