<div class="favs-container">
    <div style="display: flex; justify-content: center; align-items: center; padding: 4vh; min-height: 82vh;">
        <mat-card style="min-width: 35%;">
          <mat-card-title style="text-align: center;">{{ name }}'s Favorites</mat-card-title>
            <mat-card-content>
                <table>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of productRows" (click)="navigateToProduct(row.code)">
                        <td><img [src]="row.image" alt="" width="100" height="100"></td>
                        <td>{{ row.name }}</td>
                    </tr>
                    </tbody>
                </table>          
            </mat-card-content>
        </mat-card>
    </div>
</div>
  