<div class="reset-container">
  <mat-card class="reset-card">
    <div *ngIf="this.sentEmail; else firstScreen">
      <mat-card-header>
        <mat-card-title>Enter the code sent to your email</mat-card-title>
      </mat-card-header>

      <form [formGroup]="resetForm2" (ngSubmit)="resetPassword2()">
        <mat-card-content>
          <mat-form-field style="width: 100%;">
            <mat-label>Verification code</mat-label>
            <input matInput formControlName="code">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field style="width: 100%;">
            <mat-label>New password</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <button mat-raised-button color="primary" [disabled]="!resetForm2.valid" type="submit">
            Change password
          </button>
        </mat-card-content>
      </form>
    </div>

    <ng-template #firstScreen>
      <mat-card-header>
        <mat-card-title>Enter your email to reset your password</mat-card-title>
      </mat-card-header>

      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <mat-card-content>
          <mat-form-field style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <button mat-raised-button color="primary" [disabled]="!resetForm.valid" type="submit">
            Send reset email
          </button>
        </mat-card-content>
      </form>
    </ng-template>
  </mat-card>
</div>