.signup-card {
    text-align: center;
    width: 35%;
  }
  
  .form-group {
    width: 100%;
  }

  .form-name {
    width: 49.5%;
    margin-inline: 0.25%;
    float: right;
  }

  .form-name:first-child {
    float: left;
  }
  
  .signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  @media (max-width: 700px) {
    .signup-card {
      width: 70%;
    }
  }