.setup-card {
    text-align: center;
    width: 35%;
  }
  
  .allergen-group {
    width: 100%;
  }

  .instructions-group {
    align-items: left;
    font-size: medium;
  }
  
  .setup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  @media (max-width: 700px) {
    .setup-card {
      width: 70%;
    }
  }