
<div class="productContainer">
  <div *ngIf="this.loading">
    <mat-card-content class="loadingContainer">
      <mat-spinner></mat-spinner>
    </mat-card-content>
  </div>
  
  <mat-card>
    <div *ngIf="!this.loading">
      <div>
        <h3></h3>
        <div class="container">
          <h1 class="product-name">{{ name }}</h1>
          <ng-container *ngIf="imageFound">
            <img class="product-image" [src]="image" alt="My Image">
          </ng-container>
          <div class="product-ingredients">
            <ng-container *ngIf="isAllergic">
              <p>Caution! Ingredients you are allergic to:</p>
              <ul class="allergies-list">
                <li *ngFor="let allergy of allergyIngredients">{{ allergy }}</li>
              </ul>
            </ng-container>
            <ng-container *ngIf="!isAllergic">
              <p>You are not allergic to anything in this product</p>
            </ng-container>
            <h2 class="ingredients-header">Product ingredients:</h2>
            <ul class="ingredients-list">
              <li *ngFor="let ingredient of ingredientsList">{{ ingredient }}</li>
            </ul>
          </div>
        </div>
        <h3></h3>
      </div>
    </div>
  </mat-card>
</div>
