.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  min-height: 82vh;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: lightgray;
}